<body>
<ngl-lookup [(value)]="value" [lookup]="lookupAsync" field="organisationUnit" debounce="200" [(pick)]="orgUnit">
  <template nglLookupLabel>Search for an organisation unit</template>
  <template nglLookupItem let-ctx>
    <div class="slds-media__body">
      <div class="slds-lookup__result-text">{{ctx.organisationUnit}}</div>
      <span class="slds-lookup__result-meta slds-text-body--small">{{ctx.displayName}}</span>
    </div>
  </template>
</ngl-lookup>
<div *ngIf="orgUnit" class="slds-m-top--large">Selected org unit id: <b>{{orgUnit.id}}</b></div>
<div class="slds-text-title--caps slds-m-top--x-large slds-m-bottom--small"></div>
</body>