<body>
<table ngl-datatable [data]="data" trackByKey="rank" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
       (onRowClick)="onRowClick($event)" [bordered]="border" class="slds-max-medium-table--stacked-horizontal">
  <ngl-datatable-column heading="Date - preview first 5 rows" key="date"></ngl-datatable-column>
  <ngl-datatable-column heading="Value - preview first 5 rows" key="value" cellClass="slds-truncate">
  </ngl-datatable-column>

  <!-- Loading overlay -->
  <template nglLoadingOverlay>
    <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
  </template>

  <!-- No rows overlay -->
  <template nglNoRowsOverlay>No data available in table!</template>
</table>

</body>
