* {
  box-sizing: border-box;
}

.title {
  background: #576569;
  width: 100%;
  height: 60px;
}

.lookup {
  width: 25%;
  float: left;
  padding: 10px;
  padding-bottom: 40px;
}

.chart {
  width: 75%;
  float: right;
  padding: 10px;
}

.datatable {
  width: 75%;
  float: right;
  padding: 10px;
}

div.getData {
  padding-left: 15px;
}

h1 {
  font-family: 'Roboto', sans-serif;  
  text-align: left;
  color: #ffffff;
  font-size: 200%;
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 25px;
  padding-top: 10px
}

body {
  height: 75%;
}
