<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div class="title">
  <h1>DHIS2 Moving Average Statistics</h1>
</div>
<div class="lookup">
  <lookup></lookup>
</div>
<div class="datatable">
  <datatable [data]='dataTable'></datatable>
</div>
<div class="chart">
  <chart [dataChartUpper]='dataChartUpper' [dataChartLower]='dataChartLower'></chart>
</div>
<div class="getData">
  <button type="button" (click)=getData() nglButton="brand">GET STATISTICS</button>
</div>
</body>