<body>

<div class="orgUnit">
  <div class="slds-text-title--caps slds-m-bottom--small">Search for an organisation unit</div>
  <ngl-lookup [(value)]="valueOU" [lookup]="lookupOU" field="displayName" [(pick)]="orgUnit">
    <template nglLookupItem let-ctx>
      <div class="slds-media__body">
        <div class="slds-lookup__result-text">{{ctx.displayName}}</div>
      </div>
    </template>
  </ngl-lookup>
</div>

<div class="indicator">
  <div class="slds-text-title--caps slds-m-bottom--small">Search for an indicator</div>  
  <ngl-lookup [(value)]="valueIndicator" [lookup]="lookupIndicator" field="displayName" [(pick)]="indicator">
    <template nglLookupItem let-ctx>
      <div class="slds-media__body">
        <div class="slds-lookup__result-text">{{ctx.displayName}}</div>
      </div>
    </template>
  </ngl-lookup>
</div>

<div class="toggle">
  <div class="slds-text-title--caps slds-m-bottom--small">Moving average on/ off</div>    
 <ngl-form-checkbox-toggle enabledText='' disabledText=''>
  <input nglFormControl type="checkbox" checked="" [(ngModel)]="enableMovingAverage" />
</ngl-form-checkbox-toggle>
</div>

  <div class="slds-text-title--caps slds-m-bottom--small">Moving average interval</div>    
<div *ngIf="enableMovingAverage">
<div [(nglPick)]="intervalMovingAverage" nglPickActiveClass="slds-button--brand" class="slds-button-group" role="group">
  <button type="button" nglButton="neutral" nglPickOption="3">3</button>
  <button type="button" nglButton="neutral" nglPickOption="5">5</button>
</div>
</div>

</body>
